<div class="page-header">
  <h1>
    Contacts
    <a href="/contacts/new" class="btn btn-lg btn-primary">New Contact</a>
  </h1>
</div>
<h6><%= sort_link(@q, :clname, 'Sort by Last Name') %></h6>
<hr>
    <%= search_form_for @q do |f| %>
    <p class="lead">Search by:</p>

    <div class="form-group">
      <%= f.label :clname_cont, "Last Name" %>
      <%= f.text_field :clname_cont, :class => "form-control", :placeholder => "Enter a few characters" %>
    </div>

    <div class="form-group">
      <%= f.label :cindustry_cont, "Industry" %>
      <%= f.text_field :cindustry_cont, :class => "form-control", :placeholder => "Enter a few characters" %>
    </div>

    <%= f.submit :class => "btn btn-primary btn-block" %>

    <a href="/contacts" class="btn btn-default btn-block">Clear filters</a>
  <% end %>

<!-- <button type="button" name="button">Sort by Last Name</button> -->



</br>
<div class="row">
<% @contacts.each do |contact| %>

  <div class="col-md-4">


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/contacts/<%= contact.id %>">
          <%= contact.clname %>, <%= contact.cfname %></a>
          <div class="navbar-right">
            <%= contact.interacts.count %>
            <i class="fa fa-coffee" aria-hidden="true">&nbsp;
            </i>
          </div>
          </h3>


      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">

          <dt>First Name</dt>
          <dd><%= contact.cfname %></dd>

          <dt>Last Name</dt>
          <dd><%= contact.clname %></dd>

          <dt>Email</dt>
          <dd><%= contact.cemail %></dd>

          <dt>Date of Birth</dt>
          <dd><%= contact.cdob %></dd>

          <dt>Address</dt>
          <dd><%= contact.caddress %></dd>

          <dt>Phone</dt>
          <dd><%= contact.cphone %></dd>

          <dt>Company</dt>
          <dd><%= contact.ccompany %></dd>

          <dt>Industry</dt>
          <dd><%= contact.cindustry %></dd>
        </dl>
        <div class="btn-group navbar-right">
          <a href="/contacts/<%= contact.id %>/edit" class="btn btn-default btn-sm">
            <i class="fa fa-edit fa-fw"></i>
          </a>
          <a href="/delete_contact/<%= contact.id %>" class="btn btn-default btn-sm" rel="nofollow">
            <i class="fa fa-trash-o fa-fw"></i>
          </a>
        </div>

      </div>
    </div>
  </div>
<% end %>
</div>
